*{margin: 3px  20px;
    padding: px;
    box-sizing: border-box;
    
  }
  body{
    background:#538bf3;
    padding: 10px 40px;
  }
    
  .title {
    position:static;
      font-size: 60px;
      font-weight: 700px;
      color: #333;
      padding:10px 10px;
    
  }
  input[type="text" i] {
    padding: 14px 28px;
    margin-right: 50px;
  
  }
  input[type="password" i] {
    padding: 14px 28px;
  
    
  }
  input[type="submit" i] {
    padding: 10px 40px;
    color: white;
    background: blue;
    border-radius: 2px;
    cursor: pointer;
    margin: 20px 78px;
    border: none;
    border-radius: 15px;
  }
  
  .fa-user:before {
    color: blue;
    padding: 2px;
  }
  .fa-credit-card:before{
    color: blue;
  }
  .fa-female:before {
    color: blue;
    margin: 5px;
  }
  .fa-at:before {
    color: blue;
  }
  .fa-lock:before {
    color: blue;
  }
  .text {
    color: #333;
    font-size: x-large;
    cursor: pointer;
    text-decoration: none;
  }
  .conecte-se {
    color: blue;
  }
  
  